.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px;
  margin: 56px 96px;
}

.about img {
  width: 100%;
  height: auto;
}

.about-text p {
  padding: 4px 0;
}

@media (max-width: 1200px) {
  .about {
    margin-top: 32px;
  }
}

@media (max-width: 900px) {
  .about {
    margin: 20px 16px;
    display: block;
  }
}
