.contact-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0px 96px;
}

.contact-information h2 {
  font-weight: 400;
  margin-bottom: 40px;
}

.contact-information h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-top: 24px;
}

.contact-information p {
  margin: 8px 0;
}

.contact-information ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 8px 0;
}

@media (min-width: 1400px) {
  .contact-information {
    margin: auto;
    max-width: 1200px;
  }
}

@media (max-width: 900px) {
  .contact-information {
    display: block;
    margin: 0px 16px;
  }
  .contact-img {
    margin: 0px;
    margin-top: 24px;
  }
}
