.exhibitions h1 {
  margin: 96px;
}

.exhibitions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 64px;
  margin: 32px 96px;
}

.exhibitions-card {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  align-items: stretch;
  height: 100%;
}

.exhibitions img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px #acacac;
}

.exhibitions h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.exhibitions p {
  line-height: 1.3;
  min-height: 160px;
}

.readmore-btn {
  background-color: #c917af;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 12px 0;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  height: 20px;
}

.exhibitions-card__clickable {
  text-decoration: none;
  color: black;
}

@media (min-width: 1400px) {
  .exhibitions,
  .exhibitions h1 {
    margin: auto;
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .exhibitions {
    column-gap: 30px;
    row-gap: 32px;
  }
}

@media (max-width: 1000px) {
  .exhibitions {
    grid-template-columns: repeat(2, 1fr);
  }
  .exhibitions p {
    min-height: 130px;
  }
}

@media (max-width: 900px) {
  .exhibitions {
    margin: 16px;
  }
}

@media (max-width: 600px) {
  .exhibitions {
    display: block;
    margin: 16px;
  }
  .exhibitions-images {
    display: block;
  }
  .exhibitions div {
    margin-bottom: 40px;
  }
  .exhibitions p {
    line-height: 1.3;
    min-height: 60px;
  }
}
