.exhibitions h1 {
  margin: 96px;
}

.exhibitions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 64px;
  margin: 0px 96px;
}

.exhibitions img {
  margin-top: 32px;
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px #acacac;
}

.exhibitions h2 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 0;
}

.exhibitions p {
  margin-top: 8px;
  margin-bottom: 24px;
}
.exhibitions-tablet {
  display: none;
}

.readmore-btn {
  background-color: #c917af;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .exhibitions {
    column-gap: 30px;
    row-gap: 32px;
  }
  .exhibitions h2 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .exhibitions {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 96px;
  }
}

@media (max-width: 900px) {
  .exhibitions {
    display: block;
    margin: 16px;
  }
  .exhibitions-desktop {
    display: none;
  }
  .exhibitions-tablet {
    display: block;
  }
}

@media (max-width: 600px) {
  .exhibitions-desktop {
    display: block;
  }
  .exhibitions-tablet {
    display: none;
  }
  .exhibitions div {
    margin-bottom: 40px;
  }
}
