.exhibits-h1 {
  margin: 96px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.exhibits-background {
  background-image: linear-gradient(to right, #1e1e1e, #008293);
  box-shadow: 0 0 15px #555;
}

.exhibits-text {
  padding: 56px 96px;
  color: #ffffff;
}

.exhibits-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  padding: 96px;
}

.exhibits-information {
  background-color: #000000;
  box-shadow: 0 0 15px #555;
  padding: 32px;
  color: #ffffff;
  font-weight: 500;
  place-content: center;
}

.exhibits-img {
  box-shadow: 0 0 15px #555;
}

@media (min-width: 1400px) {
  .exhibits-content,
  .exhibits-text {
    margin: auto;
    max-width: 1200px;
  }

  .exhibits-h1 {
    margin: 96px auto;
    max-width: 1200px;
  }
}
@media (max-width: 900px) {
  .exhibits-h1 {
    margin: 56px 16px;
  }
  .exhibits {
    margin: 16px;
  }
  .exhibits-text {
    margin: 0 16px;
    padding: 56px 16px;
  }
  .exhibits-background {
    margin: -16px;
  }
  .exhibits-information {
    background-color: #ffffff;
    color: #000000;
    box-shadow: none;
  }
  .exhibits-content {
    display: block;
    margin: 0px -16px;
    padding: 0;
  }
  .exhibits-img {
    box-shadow: none;
  }
}
