.background-image {
  background-image: url();
  background-color: #008293;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}

.header_homepage {
  display: grid;
  grid-template-columns: 2fr 1.6fr;
  background-image: linear-gradient(to bottom, #1e1e1e, #008293);
  margin: 0 -96px;
  padding: 64px 96px;
  gap: 180px;
}

.header_homepage h1 {
  margin: 16px 0;
  width: 200px;
  word-wrap: break-word;
  line-height: 1.3;
}

.header_homepage p,
.header_homepage h2,
ul {
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
}

.header_homepage div {
  color: #ffffff;
}

.header_homepage div ul {
  list-style: none;
  padding: 0;
}

.header_homepage div li {
  font-weight: 400;
}

.welcome-button {
  display: none;
}

.heading-events {
  margin: 12px 0;
}

.opening-hours__tablet {
  display: none;
}

.events,
.homepage-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 24px 0;
  margin-bottom: 24px;
  gap: 16px;
}

.events img,
.homepage-information img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .header_homepage p,
  .header_homepage h2,
  ul {
    font-size: 24px;
  }
  .header_homepage h1 {
    font-size: 30px;
  }
  .header_homepage {
    gap: 150px;
  }
}

@media (max-width: 900px) {
  .header_homepage {
    display: block;
    margin: -16px;
    padding: 40px 16px;
    margin-bottom: 24px;
  }
  .header_homepage h2,
  .header_homepage ul {
    display: none;
  }
  .opening-hours__tablet {
    display: block;
    color: #ffffff;
    margin: 0;
    padding-bottom: 12px;
  }
  .header_homepage p {
    margin-bottom: 0;
  }
  .welcome-button {
    display: inline-block;
    background-color: #b5179e;
    padding: 10px 80px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 0.6s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: -0.5px;
  }
  .events,
  .homepage-information {
    display: flex;
    flex-direction: column;
  }
  .events div,
  .access-article {
    background-color: #f1f1f1;
    margin-bottom: 48px;
  }
  .food-article {
    background-color: #f4f7f6;
    margin-bottom: 48px;
  }
  .shop-article {
    background-color: #e6ebe7;
    margin-bottom: 48px;
  }
  .events article,
  .homepage-information article {
    padding: 20px 16px;
  }
  .events article h3,
  .homepage-information article h3 {
    margin-top: 0;
  }
  .information-img {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .events div,
  .access-article {
    margin-bottom: 24px;
  }
  .header_homepage p {
    font-size: 20px;
  }
  .welcome-button {
    padding: 10px 100px;
    font-weight: 600;
  }
  .access-article article,
  .food-article article,
  .shop-article article {
    padding-top: 0px;
  }
}

@media (max-width: 300px) {
  .header_homepage p {
    font-size: 18px;
  }
  .welcome-button {
    padding: 10px 0px;
    font-size: 18px;
  }
}
