.legal-terms {
  margin: 96px 0;
}

.legal-terms h3 {
  font-size: 20px;
  padding-top: 42px;
  margin: 0;
}

.legal-terms p {
  margin: 8px 0;
}

.legal-terms strong {
  color: #3e3e3e;
}

.legal-terms ul,
.legal-terms li {
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 8px 0;
}

.legal-terms h1 {
  margin-bottom: 0;
}

.lastupdated {
  padding-top: 0;
  font-size: 16px;
}
