@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./index.css");
@import url("./welcome.css");
@import url("./exhibitions.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./support.css");
@import url("./exhibits.css");
@import url("./legalterms.css");

*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  margin-left: 96px;
  margin-right: 96px;
}

@media (max-width: 901px) {
  main {
    margin-left: 16px;
    margin-right: 16px;
  }
}

h1 {
  font-size: 34px;
}

p {
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.page-container {
  margin-top: 80px;
  margin-bottom: 96px;
}

header {
  background-color: #1c2627;
  padding: 24px;
}

#menu-checkbox {
  display: none;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 28px 96px;
  background-color: #ededed;
}

footer li,
footer a,
footer ul {
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: #2f2f2f;
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

footer h2 {
  font-size: 16px;
  font-weight: 700;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe p {
  font-size: 16px;
}

.subscribe-btn {
  width: 200px;
  background-color: #c917af;
  color: #ffffff;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-top: 8px;
  border-radius: 4px;
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 56px 16px;
    background-color: #ededed;
  }
  .subscribe form {
    padding-right: 16px;
  }
}
