.support-container {
  margin: 48px 96px 96px 96px;
}

.support-columns {
  margin-top: 83px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.donations,
.volunteer,
.internships {
  background-color: #ebf5f6;
  padding: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.internship-form {
  margin: 96px 0px;
  padding: 60px;
  background-color: #ebf5f6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.internship-form h2 {
  color: #333;
}

form input,
form textarea {
  display: block;
  border: none;
  margin: 8px 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffffee;
  color: #000000;
}

form textarea {
  margin-bottom: 20px;
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #333;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #37818b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #555;
}

.support-tablet {
  display: none;
}

.support-h1 {
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .support-columns {
    margin-top: 56px;
  }
  .support-columns div {
    margin-bottom: 0px;
  }
}

@media (max-width: 900px) {
  .support-desktop {
    display: none;
  }
  .support-tablet {
    display: block;
    margin-bottom: 56px;
  }
  .support-container {
    margin: 24px 16px;
  }
  .support-columns {
    display: block;
  }
  .support-columns div {
    margin-bottom: 56px;
  }
  .donations,
  .volunteer,
  .internships {
    background-color: #ffffff;
    padding: 0px;
    box-shadow: none;
  }
  .internship-form {
    margin: 16px 0px;
    padding: 32px;
  }
}

@media (max-width: 600px) {
  .internship-form h2 {
    font-size: 20px;
  }
  .form input {
    padding: 30px;
  }

  form input,
  form textarea {
    margin: 16px 0px;
    font-size: 16px;
    padding: 16px 8px;
  }
  .internship-form {
    padding: 12px;
  }
}
