.welcome-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 96px 0;
  gap: 24px;
}

.welcome-header__text {
  width: 400px;
}

.welcome-header__text p {
  padding-top: 24px;
  font-size: 30px;
}

.welcome-header img {
  width: 100%;
  height: auto;
}

.welcome-information__container {
  background-color: #f6f6f6;
  margin: 0 -96px;
}

.welcome-information__price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
  margin: 24px 96px;
  padding: 80px 100px;
  font-size: 24px;
}

.explore-heading {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 20px;
  font-size: 32px;
}

.explore-container {
  background-color: #f6f6f6;
  padding: 32px 0;
  margin: 0 -96px;
}

.explore-container h3 {
  margin: 0 96px;
  color: #008293;
}

.explore1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 32px 96px;
}

.explore1 img,
.explore2 img {
  width: 100%;
  height: auto;
}

.explore-container2 {
  margin-top: 40px;
  margin-bottom: 96px;
}

.explore2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
}

.explore-img__tablet {
  display: none;
}

@media (max-width: 1200px) {
  .welcome-header__text h1 {
    font-size: 30px;
  }
  .welcome-header__text p {
    font-size: 24px;
    padding-top: 0;
  }
  .welcome-header__text {
    width: 300px;
  }
  .welcome-information__price,
  .explore2 {
    gap: 68px;
  }
}

@media (max-width: 900px) {
  .welcome-desktop__image {
    display: none;
  }
  .welcome-tablet__image {
    margin: 0px -16px;
  }
  .welcome-header {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .welcome-header__text {
    width: 100%;
  }
  .welcome-header__text p {
    font-size: 20px;
  }
  .welcome-information__container {
    background-color: #ffffff;
    margin: 0 -16px;
  }
  .welcome-information__price {
    display: block;
    padding: 0px;
    margin: 24px 16px;
    font-size: 24px;
  }
  .explore-heading {
    font-size: 24px;
  }
  .explore-container {
    background-color: #ffffff;
    padding: 0px;
    margin: 0 -96px;
  }
  .explore1,
  .explore2 {
    display: block;
  }
  .explore-img__desktop {
    display: none;
  }
  .explore-img__tablet {
    display: block;
    margin: -16px;
    padding-bottom: 20px;
  }
  .explore1 div,
  .explore2 div {
    margin-bottom: 40px;
  }
}
