.welcome-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 96px;
  gap: 24px;
}

.welcome-h1 {
  margin: 24px 0px;
}

.welcome-header__text {
  width: 400px;
}

.welcome-header__text p {
  padding-top: 24px;
  font-size: 30px;
}

.welcome-information__container {
  background-color: #f6f6f6;
}

.welcome-information__price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
  margin: 24px 96px;
  padding: 80px 96px;
  font-size: 24px;
}

.explore-heading {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 20px;
  font-size: 32px;
}

.explore-container {
  background-color: #f6f6f6;
  padding: 32px 0;
}

.explore-container h3 {
  margin: 0px 96px;
  color: #008293;
}

.explore1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 32px 96px;
}

.explore-container2 {
  margin: 0px 96px;
}

.explore2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
  margin: 0;
}

.explore-img__tablet {
  display: none;
}

.welcome-tablet {
  display: none;
}

.contact-link {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.contact-link:hover {
  text-decoration: underline;
}

@media (min-width: 1400px) {
  .welcome-header {
    padding: 96px 0;
  }
  .welcome-header,
  .welcome-information__price,
  .explore1,
  .explore2,
  .explore-container h3 {
    margin: auto;
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .welcome-header__text h1 {
    font-size: 30px;
  }
  .welcome-header__text p {
    font-size: 24px;
    padding-top: 0;
  }
  .welcome-header__text {
    width: 300px;
  }
  .welcome-information__price,
  .explore2 {
    gap: 68px;
  }
}

@media (max-width: 900px) {
  .welcome-h1 {
    margin: 24px 16px;
  }

  .welcome-desktop {
    display: none;
  }
  .welcome-tablet {
    display: block;
  }
  .welcome-header {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px;
  }
  .welcome-header__text {
    width: 100%;
  }
  .welcome-header__text p {
    font-size: 20px;
    padding: 0px 16px;
  }
  .welcome-information__container {
    background-color: #ffffff;
    margin: 0px;
  }
  .welcome-information__price {
    display: block;
    padding: 0px;
    margin: 24px 16px;
    font-size: 24px;
  }
  .explore-heading {
    font-size: 24px;
    margin-top: 56px;
  }
  .explore-container,
  .explore-container2 {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px 16px;
  }

  .explore-container h3 {
    margin: 8px 0px;
  }
  .explore1,
  .explore2 {
    display: block;
    margin: 0px;
  }
  .explore-img__desktop {
    display: none;
  }
  .explore-img__tablet {
    display: block;
    margin: 0px;
    padding-bottom: 20px;
  }
  .explore1 div,
  .explore2 div {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
}
